<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omkar.weatherforecast" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeatherForecastList"
            android:label="@string/title_activity_weather_forecast"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:theme="@style/CustomTheme"
            android:name=".WeatherDetail"
            android:label="Weather Details" >
        </activity>
    </application>

</manifest>
